{% extends "base_generic.html" %}

{% block content %}
<h1>Pinocchio's Pizza and Subs!</h1>
<p>Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>

<p>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!</p>

<p>Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com</p>
{% load static %}
<img src="{% static 'images/AdobeStock_51836484_Preview.jpeg' %}" alt="handmade pizza">
{% endblock content %}