{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>Pinochio's Menu</title>
{% endblock title %}

{% block content %}
    <h1>Menu</h1>
    <h2>Pizza</h2>
    <h3>Regular</h3>
    <ul>
        <li class="pizza_menu"><div class="pizza_name"></div><div class="pizza_cost_small">Small</div><div class="pizza_cost_large">Large</div></li>
        {% for pizza in reg_pizzas %}
        <li class="pizza_menu"><div class="pizza_name">{{ pizza.name }}</div>
            <div class="pizza_cost_small">{{ pizza.price_small }}</div>
            <div class="pizza_cost_large">{{ pizza.price_large }}</div>
        </li>
        {% endfor %}
    </ul>
    <h3>Sicilian</h3>
    <ul>
        <li class="pizza_menu"><div class="pizza_name"></div><div class="pizza_cost_small">Small</div><div class="pizza_cost_large">Large</div></li>
        {% for pizza in sic_pizzas %}
        <li class="pizza_menu"><div class="pizza_name">{{ pizza.name }}</div>
            <div class="pizza_cost_small">{{ pizza.price_small }}</div>
            <div class="pizza_cost_large">{{ pizza.price_large }}</div>
        </li>
        {% endfor %}
    </ul>
    <h2>Sandwiches</h2>
    <ul>
        <li class="pizza_menu"><div class="pizza_name"></div><div class="pizza_cost_small">Small</div><div class="pizza_cost_large">Large</div></li>
        {% for item in  sandwiches %}
        <li class="pizza_menu" -data-description="{{ item.description }}"">
            <div class="pizza_name">{{ item.name }}</div>
            <div class="pizza_cost_small">{% if item.price_small %}{{ item.price_small }}{% endif %}</div>
            <div class="pizza_cost_large">{% if item.price_large %}{{ item.price_large }}{% endif %}</div>
        </li>
        {% endfor %}
    </ul>
    <h2>Pasta</h2>
    <ul>
        <li class="pizza_menu"><div class="pizza_name"></div><div class="pizza_cost_small">Small</div><div class="pizza_cost_large">Large</div></li>
        {% for item in  pasta %}
        <li class="pizza_menu" -data-description="{{ item.description }}"">
            <div class="pizza_name">{{ item.name }}</div>
            <div class="pizza_cost_small">{% if item.price_small %}{{ item.price_small }}{% endif %}</div>
            <div class="pizza_cost_large">{% if item.price_large %}{{ item.price_large }}{% endif %}</div>
        </li>
        {% endfor %}
    </ul>
    <h2>Salads</h2>
    <ul>
        <li class="pizza_menu"><div class="pizza_name"></div><div class="pizza_cost_small">Small</div><div class="pizza_cost_large">Large</div></li>
        {% for item in  salads %}
        <li class="pizza_menu" -data-description="{{ item.description }}"">
            <div class="pizza_name">{{ item.name }}</div>
            <div class="pizza_cost_small">{% if item.price_small %}{{ item.price_small }}{% endif %}</div>
            <div class="pizza_cost_large">{% if item.price_large %}{{ item.price_large }}{% endif %}</div>
        </li>
        {% endfor %}
    </ul>
    <h2>Dinner Platters</h2>
    <ul>
        <li class="pizza_menu"><div class="pizza_name"></div><div class="pizza_cost_small">Small</div><div class="pizza_cost_large">Large</div></li>
        {% for item in  dinner_platters %}
        <li class="pizza_menu" -data-description="{{ item.description }}"">
            <div class="pizza_name">{{ item.name }}</div>
            <div class="pizza_cost_small">{% if item.price_small %}{{ item.price_small }}{% endif %}</div>
            <div class="pizza_cost_large">{% if item.price_large %}{{ item.price_large }}{% endif %}</div>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
